$white: #fff;
$white300: #a3bbc8;
$white350: #8b8b8b;
$white400: #7b7b7b;
$white500: #585858;
$white600: #414141;
$white700: #191919;

$blue300: #edf1f4;
$blue400: #436372;
$blue500: #234969;
$blue600: #243f4d;
$blue700: #1f2044;

$orange300: #fde3cc;
$orange500: #fcd7b6;

$DMsans: 'DMSans',sans-serif;
$DMsans700: 700;
$DMsans500: 500;
$DMsans400: 400;

$rubik:'Rubik',sans-serif;
$rubik500: 500;
$rubik400: 400;

$poppins:'Poppins',sans-serif;
$poppins700: 700;