$white: #fff;
$white200: #fefefe;
$white250: #f8f8f8;
$white290: #e0e0e0;
$white300: #a3bbc8;
$white350: #8b8b8b;
$white400: #7b7b7b;
$white500: #585858;
$white600: #414141;
$white650: #262626;
$white660: #333333;
$white700: #191919;

$blue300: #edf1f4;
$blue400: #436372;
$blue500: #234969;
$blue600: #243f4d;
$blue650: #222933;
$blue700: #1f2044;

$orange200: #feefe2;
$orange300: #fde3cc;
$orange500: #fcd7b6;
$orange500o2: rgba($color: #fcd7b6, $alpha: 0.2);

$DMsans: 'DMSans',sans-serif;
$DMsans700: 700;
$DMsans500: 500;
$DMsans400: 400;

$rubik:'Rubik',sans-serif;
$rubik500: 500;
$rubik400: 400;
$rubik300: 300;

$poppins:'Poppins',sans-serif;
$poppins700: 700;

$w1400: 1400;
$w1024: 1024;
$w740: 740;
$w640: 640;
$w420: 420;