@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
    padding: 45px 0;

    &__container {
        max-width: 1800px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    display: flex;

    &__item:not(:last-child) {
        margin-right: 35px;
    }

    &__link {
        @extend %rubik-500;
        font-size: 15px;
        color: #436372;
        padding-bottom: 5px;
        border: 1px solid transparent;
        transition: border-bottom 0.3s;
        outline: transparent;

        &:hover {
            border-bottom: 1px solid #436372;
        }

        &:focus {
            border: 1px solid #436372;
        }

        &:active {
            color: $default;
        }
    }
}

.user-nav {
    display: flex;

    &__search-link {
        background-color: #edf1f4;
        line-height: 55px;
    }

    &__menu-btn {
        background-color: #a3bbc8;
        line-height: 60px;
        border: none;
    }

    &__search-link,
    &__menu-btn {
        width: 50px;
        height: 50px;
        text-align: center;
    }

    &__search-link,
    &__menu-btn,
    &__quantity {
        border-radius: 50%;
    }

    &__search-link,
    &__wrap {
        margin-right: 20px;
    }

    &__wrap {
        display: flex;
        background-color: #fcd7b6;
        height: 50px;
        width: 180px;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 15% 50%;
        border-bottom-left-radius: 15% 50%;
        border-top-right-radius: 15% 50%;
        border-bottom-right-radius: 15% 50%;
    }

    &__link {
        padding-top: 10px;
        position: relative;
    }

    &__link:first-child {
        padding-right: 25px;
        margin-right: 28px;
        border-right: solid 1px #fde7d3
    }

    &__quantity {
        position: absolute;
        @extend %dmsans-400;
        font-size: 10px;
        color: #243f4d;
        background-color: #fff;
        top: 0;
        right: -8px;
        text-align: center;
        line-height: 16px;
        width: 16px;
        height: 16px;
    }

    &__quantity--first {
        right: 14px;
    }
}

.footer {
    padding: 75px 0 35px;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: $footer;

    &__container {
        max-width: 1200px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 70px;
        margin-bottom: 35px;
        border-bottom: 1px solid #dae4e9;
    }

    &__logo,
    &__title {
        margin-bottom: 20px;
    }

    &__contacts,
    &__services,
    &__account {
        max-width: 200px;
    }

    &__form {
        max-width: 270px;
    }

    &__title {
        @extend %dmsans-700;
        font-size: 16px;
        padding-top: 15px;
        color: #1f2044;
        text-transform: uppercase;
    }

    &__phone,
    &__email {
        display: block;
    }

    &__item,
    &__address,
    &__phone {
        margin-bottom: 5px;
    }

    &__text {
        margin-bottom: 35px;
    }

    &__input,
    &__button {
        height: 38px;
        border: none;
        @extend %dmsans-400;
        padding: 0 15px;
        font-size: 14px;
    }

    &__input {
        max-width: 170px;
        color: #234969;
        background-color: #fef7f0;
    }

    &__button {
        max-width: 100px;
        background-color: $default;
        color: #fff;
        margin-left: -5px;
    }

    &__button,
    &__phone,
    &__email,
    &__link,
    &__nav-link {
        cursor: pointer;
        border: 1px solid transparent;
        transition: border 0.3s, color 0.3s;
    }

    &__button,
    &__phone,
    &__email,
    &__link,
    &__nav-link {
        &:hover {
            color: $title;
        }

        &:focus {
            border: 1px solid $title;
        }

        &:active {
            color: $subtitle;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }
    
    &__border,
    &__nav-link:not(:last-child) {
        margin-right: 12px;
    }

}


@import 'media';