<section class="login">
  <form class="form">
    <label class="form__heading" for="username">
      Username or email address *
    </label>
    <input class="form__username" id="username" type="text" name="username">


    <label class="form__heading" for="password">
      Password *
    </label>
    <input class="form__password" id="password" type="password" name="password">


    <button class="form__login" type="submit">
      Login
    </button>

    <div class="form__wrap">
      <label class="form__save">
        <input class="form__checkbox" type="checkbox" name="remember">
        Remember me
      </label>

      <a class="form__link" href="#">
        Lost your password?
      </a>
    </div>

    <span class="form__desc">
      Not registered? No problem
    </span>

    <a class="form__create" href="#">
      Create an account
    </a>
  </form>
</section>