
  <section class="partners partners--login">
    <div class="container">
      <ul class="partners__box">
        <li class="partners__wrap">
          <a class="partners__link" href="#">
            <img class="partners__logo" src="images/partners/partner-1.png" alt="partner logo" width="82" height="90">
          </a>
        </li>

        <li class="partners__wrap">
          <a class="partners__link" href="#">
            <img class="partners__logo" src="images/partners/partner-2.png" alt="partner logo" width="151" height="90">
          </a>
        </li>

        <li class="partners__wrap">
          <a class="partners__link" href="#">
            <img class="partners__logo" src="images/partners/partner-3.png" alt="partner logo" width="150" height="90">
          </a>
        </li>

        <li class="partners__wrap">
          <a class="partners__link" href="#">
            <img class="partners__logo" src="images/partners/partner-4.png" alt="partner logo" width="167" height="90">
          </a>
        </li>

        <li class="partners__wrap">
          <a class="partners__link" href="#">
            <img class="partners__logo" src="images/partners/partner-5.png" alt="partner logo" width="87" height="90">
          </a>
        </li>
      </ul>
    </div>
  </section>