<section class="shop">
  <div class="container">
    <div class="shop__inner">
      <ul class="shop__filters">
        <li class="filter-category filter">
          <h2 class="filters-title">
            Category
          </h2>

          <form action="#" class="filter-category__form">
            <label class="filter-category__label">
              <input class="filter-category__input checkbox-hide" type="checkbox" id="input-category"
                name="category-choose">

              <div class="filter-category__wrap">
                <span>Chair</span>

                <svg class="filter-category__right">
                  <use xlink:href="images/sprite.svg#arrow-right"></use>
                </svg>
              </div>
            </label>

            <label class="filter-category__label">
              <input class="filter-category__input checkbox-hide" type="checkbox" id="input-category"
                name="category-choose">

              <div class="filter-category__wrap">
                <span>Table</span>

                <svg class="filter-category__right">
                  <use xlink:href="images/sprite.svg#arrow-right"></use>
                </svg>
              </div>
            </label>

            <label class="filter-category__label">
              <input class="filter-category__input checkbox-hide" type="checkbox" id="input-category"
                name="category-choose">

              <div class="filter-category__wrap">
                <span>Lamp</span>

                <svg class="filter-category__right">
                  <use xlink:href="images/sprite.svg#arrow-right"></use>
                </svg>
              </div>
            </label>

            <label class="filter-category__label">
              <input class="filter-category__input checkbox-hide" type="checkbox" id="input-category"
                name="category-choose">

              <div class="filter-category__wrap">
                <span>Watch</span>

                <svg class="filter-category__right">
                  <use xlink:href="images/sprite.svg#arrow-right"></use>
                </svg>
              </div>
            </label>

            <label class="filter-category__label">
              <input class="filter-category__input checkbox-hide" type="checkbox" id="input-category"
                name="category-choose">

              <div class="filter-category__wrap">
                <span>Clock</span>

                <svg class="filter-category__right">
                  <use xlink:href="images/sprite.svg#arrow-right"></use>
                </svg>
              </div>
            </label>
          </form>
        </li>

        <li class="filter-price filter">
          <h2 class="filters-title">
            Price
          </h2>

          <form class="filter-price__form" action="#">
            <label class="visually-hidden" for="input-price">Select an interval for filtering the cost of goods
            </label>
            <input class="filter-price__input" id="input-price" type="text" name="price-range" data-type="double"
              data-min="0" data-max="2000" data-from="200" data-to="990">

            <div class="filter-price__pricing">
              <div class="filter-price__wrap">
                $<span class="filter-price__from"></span>.00
              </div>

              <div class="filter-price__wrap">
                $<span class="filter-price__to"></span>.00
              </div>
            </div>
          </form>
        </li>

        <li class="filter-brand filter">
          <h2 class="filters-title">
            Brand
          </h2>

          <form action="#" class="filter-brand__form">
            <label class="filter-brand__label">
              <input class="filter-brand__input checkbox-hide" type="checkbox" id="input-brand" name="brand-choose">

              <div class="filter-brand__wrap">
                <span>RFL</span>

                <span class="filter-brand__number">(10)</span>
              </div>
            </label>

            <label class="filter-brand__label">
              <input class="filter-brand__input checkbox-hide" type="checkbox" id="input-brand" name="brand-choose">

              <div class="filter-brand__wrap">
                <span>Brothers</span>

                <span class="filter-brand__number">(21)</span>
              </div>
            </label>

            <label class="filter-brand__label">
              <input class="filter-brand__input checkbox-hide" type="checkbox" id="input-brand" name="brand-choose">

              <div class="filter-brand__wrap">
                <span>Regal</span>

                <span class="filter-brand__number">(3)</span>
              </div>
            </label>

            <label class="filter-brand__label">
              <input class="filter-brand__input checkbox-hide" type="checkbox" id="input-brand" name="brand-choose">

              <div class="filter-brand__wrap">
                <span>Nadia</span>

                <span class="filter-brand__number">(14)</span>
              </div>
            </label>

            <label class="filter-brand__label">
              <input class="filter-brand__input checkbox-hide" type="checkbox" id="input-brand" name="brand-choose">

              <div class="filter-brand__wrap">
                <span>Otobi</span>

                <span class="filter-brand__number">(6)</span>
              </div>
            </label>
          </form>
        </li>

        <li class="shop__recent">
          <h2 class="filters-title">
            Recent products
          </h2>

          <div class="recent-card">
            <a href="#" class="recent-card__link"></a>
            <div class="recent-card__box">
              <img class="recent-card__img" src="images/recent-products/lamp1.png" alt="lamp">
            </div>

            <div class="recent-card__content">
              <span class="recent-card__heading">
                Pendant lamp
              </span>

              <div class="recent-card__stars" data-rateyo-rating="5"></div>

              <span class="recent-card__price">
                23$
              </span>
            </div>
          </div>

          <div class="recent-card">
            <a href="#" class="recent-card__link"></a>
            <div class="recent-card__box">
              <img class="recent-card__img" src="images/recent-products/lamp2.png" alt="lamp">
            </div>

            <div class="recent-card__content">
              <span class="recent-card__heading">
                Pendant lamp
              </span>

              <div class="recent-card__stars" data-rateyo-rating="2.5"></div>

              <span class="recent-card__price">
                23$
              </span>
            </div>
          </div>

          <div class="recent-card">
            <a href="#" class="recent-card__link"></a>
            <div class="recent-card__box">
              <img class="recent-card__img" src="images/recent-products/lamp3.png" alt="lamp">
            </div>

            <div class="recent-card__content">
              <span class="recent-card__heading">
                Pendant lamp
              </span>

              <div class="recent-card__stars" data-rateyo-rating="4.5"></div>

              <span class="recent-card__price">
                23$
              </span>
            </div>
          </div>
        </li>
      </ul>

      <div class="shop__content">
        <div class="shop__sort">
          <span class="shop__view">View</span>

          <form class="shop__sorting" action="#">
            <button class="shop__grid" type="button">
              <svg class="shop__btn-grid">
                <use xlink:href="images/sprite.svg#grid"></use>
              </svg>
              <span class="visually-hidden">Сlicking will change view of good to grid</span>
            </button>

            <button class="shop__list" type="button">
              <svg class="shop__btn-list">
                <use xlink:href="images/sprite.svg#list"></use>
              </svg>
              <span class="visually-hidden">Сlicking will change view of good to list</span>
            </button>
          </form>
        </div>



        <ul class="products-week__items shop__items">
          <li class="products-week__item mix category-a">
            <article class="product-card">
              <a class="product-card__link" href="#"></a>
              <div class="product-card__inner">
                <img class="product-card__image" src="images/products/1.png" alt="products">

                <div class="product-card__box">
                  <a class="btn-circle product-card__btn" href="#">
                    <svg class="product-card__lens">
                      <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>
                  </a>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__basket">
                      <use xlink:href="images/sprite.svg#basket-icon"></use>
                    </svg>
                  </button>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__heart">
                      <use xlink:href="images/sprite.svg#like-icon"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <h3 class="product-card__name">Wooden radio</h3>

              <p class="product-card__price">
                <span>$</span>29.00
              </p>
            </article>
          </li>

          <li class="products-week__item mix category-b">
            <article class="product-card">
              <a class="product-card__link" href="#"></a>
              <div class="product-card__inner">
                <img class="product-card__image" src="images/products/2.png" alt="products">

                <div class="product-card__box">
                  <a class="btn-circle product-card__btn" href="#">
                    <svg class="product-card__lens">
                      <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>
                  </a>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__basket">
                      <use xlink:href="images/sprite.svg#basket-icon"></use>
                    </svg>
                  </button>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__heart">
                      <use xlink:href="images/sprite.svg#like-icon"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <h3 class="product-card__name">Wooden chair</h3>

              <p class="product-card__price">
                <span>$</span>29.00
              </p>
            </article>
          </li>

          <li class="products-week__item mix category-b">
            <article class="product-card">
              <a class="product-card__link" href="#"></a>
              <div class="product-card__inner">
                <img class="product-card__image" src="images/products/3.png" alt="products">

                <div class="product-card__box">
                  <a class="btn-circle product-card__btn" href="#">
                    <svg class="product-card__lens">
                      <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>
                  </a>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__basket">
                      <use xlink:href="images/sprite.svg#basket-icon"></use>
                    </svg>
                  </button>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__heart">
                      <use xlink:href="images/sprite.svg#like-icon"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <h3 class="product-card__name">Wooden chair</h3>

              <p class="product-card__price">
                <span>$</span>29.00
              </p>
            </article>
          </li>

          <li class="products-week__item mix category-a category-d">
            <article class="product-card">
              <a class="product-card__link" href="#"></a>
              <div class="product-card__inner">
                <img class="product-card__image" src="images/products/4.png" alt="products">

                <div class="product-card__box">
                  <a class="btn-circle product-card__btn" href="#">
                    <svg class="product-card__lens">
                      <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>
                  </a>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__basket">
                      <use xlink:href="images/sprite.svg#basket-icon"></use>
                    </svg>
                  </button>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__heart">
                      <use xlink:href="images/sprite.svg#like-icon"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <h3 class="product-card__name">Retro table</h3>

              <p class="product-card__price">
                <span>$</span>29.00
              </p>
            </article>
          </li>

          <li class="products-week__item mix category-a category-c">
            <article class="product-card">
              <a class="product-card__link" href="#"></a>
              <div class="product-card__inner">
                <img class="product-card__image" src="images/products/5.png" alt="products">

                <div class="product-card__box">
                  <a class="btn-circle product-card__btn" href="#">
                    <svg class="product-card__lens">
                      <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>
                  </a>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__basket">
                      <use xlink:href="images/sprite.svg#basket-icon"></use>
                    </svg>
                  </button>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__heart">
                      <use xlink:href="images/sprite.svg#like-icon"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <h3 class="product-card__name">Wooden radio</h3>

              <p class="product-card__price">
                <span>$</span>29.00
              </p>
            </article>
          </li>

          <li class="products-week__item mix category-b">
            <article class="product-card">
              <a class="product-card__link" href="#"></a>
              <div class="product-card__inner">
                <img class="product-card__image" src="images/products/2.png" alt="products">

                <div class="product-card__box">
                  <a class="btn-circle product-card__btn" href="#">
                    <svg class="product-card__lens">
                      <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>
                  </a>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__basket">
                      <use xlink:href="images/sprite.svg#basket-icon"></use>
                    </svg>
                  </button>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__heart">
                      <use xlink:href="images/sprite.svg#like-icon"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <h3 class="product-card__name">Wooden table</h3>

              <p class="product-card__price">
                <span>$</span>29.00
              </p>
            </article>
          </li>

          <li class="products-week__item mix category-d">
            <article class="product-card">
              <a class="product-card__link" href="#"></a>
              <div class="product-card__inner">
                <img class="product-card__image" src="images/products/6.png" alt="products">

                <div class="product-card__box">
                  <a class="btn-circle product-card__btn" href="#">
                    <svg class="product-card__lens">
                      <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>
                  </a>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__basket">
                      <use xlink:href="images/sprite.svg#basket-icon"></use>
                    </svg>
                  </button>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__heart">
                      <use xlink:href="images/sprite.svg#like-icon"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <h3 class="product-card__name">Wooden chair</h3>

              <p class="product-card__price">
                <span>$</span>29.00
              </p>
            </article>
          </li>

          <li class="products-week__item mix category-d">
            <article class="product-card">
              <a class="product-card__link" href="#"></a>
              <div class="product-card__inner">
                <img class="product-card__image" src="images/products/7.png" alt="products">

                <div class="product-card__box">
                  <a class="btn-circle product-card__btn" href="#">
                    <svg class="product-card__lens">
                      <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>
                  </a>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__basket">
                      <use xlink:href="images/sprite.svg#basket-icon"></use>
                    </svg>
                  </button>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__heart">
                      <use xlink:href="images/sprite.svg#like-icon"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <h3 class="product-card__name">White chair</h3>

              <p class="product-card__price">
                <span>$</span>29.00
              </p>
            </article>
          </li>

          <li class="products-week__item mix category-b">
            <article class="product-card">
              <a class="product-card__link" href="#"></a>
              <div class="product-card__inner">
                <img class="product-card__image" src="images/products/8.png" alt="products">

                <div class="product-card__box">
                  <a class="btn-circle product-card__btn" href="#">
                    <svg class="product-card__lens">
                      <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>
                  </a>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__basket">
                      <use xlink:href="images/sprite.svg#basket-icon"></use>
                    </svg>
                  </button>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__heart">
                      <use xlink:href="images/sprite.svg#like-icon"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <h3 class="product-card__name">Retro table</h3>

              <p class="product-card__price">
                <span>$</span>29.00
              </p>
            </article>
          </li>

          <li class="products-week__item mix category-b">
            <article class="product-card">
              <a class="product-card__link" href="#"></a>
              <div class="product-card__inner">
                <img class="product-card__image" src="images/products/9.png" alt="products">

                <div class="product-card__box">
                  <a class="btn-circle product-card__btn" href="#">
                    <svg class="product-card__lens">
                      <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>
                  </a>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__basket">
                      <use xlink:href="images/sprite.svg#basket-icon"></use>
                    </svg>
                  </button>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__heart">
                      <use xlink:href="images/sprite.svg#like-icon"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <h3 class="product-card__name">Wooden bed</h3>

              <p class="product-card__price">
                <span>$</span>29.00
              </p>
            </article>
          </li>

          <li class="products-week__item mix category-b">
            <article class="product-card">
              <a class="product-card__link" href="#"></a>
              <div class="product-card__inner">
                <img class="product-card__image" src="images/products/10.png" alt="products">

                <div class="product-card__box">
                  <a class="btn-circle product-card__btn" href="#">
                    <svg class="product-card__lens">
                      <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>
                  </a>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__basket">
                      <use xlink:href="images/sprite.svg#basket-icon"></use>
                    </svg>
                  </button>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__heart">
                      <use xlink:href="images/sprite.svg#like-icon"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <h3 class="product-card__name">Wooden chair</h3>

              <p class="product-card__price">
                <span>$</span>29.00
              </p>
            </article>
          </li>

          <li class="products-week__item mix category-b">
            <article class="product-card">
              <a class="product-card__link" href="#"></a>
              <div class="product-card__inner">
                <img class="product-card__image" src="images/products/11.png" alt="products">

                <div class="product-card__box">
                  <a class="btn-circle product-card__btn" href="#">
                    <svg class="product-card__lens">
                      <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>
                  </a>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__basket">
                      <use xlink:href="images/sprite.svg#basket-icon"></use>
                    </svg>
                  </button>

                  <button class="btn-circle product-card__btn" type="button">
                    <svg class="product-card__heart">
                      <use xlink:href="images/sprite.svg#like-icon"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <h3 class="product-card__name">Wooden couch</h3>

              <p class="product-card__price">
                <span>$</span>29.00
              </p>
            </article>
          </li>
        </ul>


      </div>
    </div>
</section>