<section class="mission">
  <div class="container">
    <div class="mission__inner">
      <div class="mission__bg" style="background-image: url(images/about/mission-bg.jpg);"></div>

      <div class="mission__content">
        <div class="mission__years">
          <span class="mission__number">
            12
          </span>

          <div class="mission__number-descr">
            <span>Years</span>
            <span>Experience</span>
            <span>Working</span>
          </div>
        </div>

        <h1 class="mission__title title">
          Mission of our creative house
        </h1>

        <div class="mission__text">
          <p>
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum
          </p>
        </div>
        <div class="mission__border"></div>

        <div class="mission__box">
          <div class="mission__wins mission__projects">
            <span class="mission__num">
              520+
            </span>
            <span class="mission__descr">
              Projects
            </span>
          </div>

          <div class="mission__wins mission__revenue">
            <span class="mission__num">
              $4m
            </span>
            <span class="mission__descr">
              Revenue
            </span>
          </div>

          <div class="mission__wins mission__awards">
            <span class="mission__num">
              250
            </span>
            <span class="mission__descr">
              Awards
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mission__stats">
    <div class="container">
      <div class="mission__wrapper">
        <div class="mission__wrap mission__rate">
          <span class="mission__index">
            99%
          </span>
          <div class="mission__subtitle">
            Satisﬁed Clients Rate
          </div>
        </div>

        <div class="mission__wrap mission__deliver">
          <span class="mission__index">
            5020+
          </span>
          <div class="mission__subtitle">
            Products Delivered
          </div>
        </div>

        <div class="mission__wrap mission__time">
          <span class="mission__index">
            23hr
          </span>
          <div class="mission__subtitle">
            Daily Working Time
          </div>
        </div>

        <div class="mission__wrap mission__brands">
          <span class="mission__index">
            140+
          </span>
          <div class="mission__subtitle">
            Brands in Store
          </div>
        </div>
      </div>
    </div>
  </div>
</section>