<section class="team">
  <div class="container">
    <div class="team__inner">
      <div class="team__descr">
        <h1 class="team__title title">
          Our Team
        </h1>

        <div class="team__text">
          <p>
            Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor sit
            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>

        <a class="team__join btn-square" href="#">
          Join With US
          <svg class="team__right">
            <use xlink:href="images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </div>

      <ul class="team__cards">
        <li class="team__card">
          <div class="team__img" style="background-image: url(images/team/team-1.jpg);"></div>
          <div class="team__box">
            <div class="team__wrap">
              <span class="team__name">
                Eliza Elliot
              </span>

              <span class="team__subtitle">
                Commodo tempor
              </span>
            </div>

            <div class="team__socials">
              <a class="team__link btn-circle" href="#">
                <svg class="team__icon">
                  <use xlink:href="images/sprite.svg#team-inst"></use>
                </svg>
              </a>

              <a class="team__link btn-circle" href="#">
                <svg class="team__icon">
                  <use xlink:href="images/sprite.svg#team-google"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="team__card">
          <div class="team__img" style="background-image: url(images/team/team-2.jpg);"></div>
          <div class="team__box">
            <div class="team__wrap">
              <span class="team__name">
                Roscoe A.
              </span>

              <span class="team__subtitle">
                Commodo tempor
              </span>
            </div>

            <div class="team__socials">
              <a class="team__link btn-circle" href="#">
                <svg class="team__icon">
                  <use xlink:href="images/sprite.svg#team-inst"></use>
                </svg>
              </a>

              <a class="team__link btn-circle" href="#">
                <svg class="team__icon">
                  <use xlink:href="images/sprite.svg#team-google"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="team__card">
          <div class="team__img" style="background-image: url(images/team/team-3.jpg);"></div>
          <div class="team__box">
            <div class="team__wrap">
              <span class="team__name">
                Ruby M.
              </span>

              <span class="team__subtitle">
                Commodo tempor
              </span>
            </div>

            <div class="team__socials">
              <a class="team__link btn-circle" href="#">
                <svg class="team__icon">
                  <use xlink:href="images/sprite.svg#team-inst"></use>
                </svg>
              </a>

              <a class="team__link btn-circle" href="#">
                <svg class="team__icon">
                  <use xlink:href="images/sprite.svg#team-google"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="team__card">
          <div class="team__img" style="background-image: url(images/team/team-4.jpg);"></div>
          <div class="team__box">
            <div class="team__wrap">
              <span class="team__name">
                Marie F. Bloss
              </span>

              <span class="team__subtitle">
                Commodo tempor
              </span>
            </div>

            <div class="team__socials">
              <a class="team__link btn-circle" href="#">
                <svg class="team__icon">
                  <use xlink:href="images/sprite.svg#team-inst"></use>
                </svg>
              </a>

              <a class="team__link btn-circle" href="#">
                <svg class="team__icon">
                  <use xlink:href="images/sprite.svg#team-google"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>