.breadcrumbs {
  font-family: $rubik;
  color: $blue650;
  background-color: $blue300;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;

  @include r($w640) {
    padding: 10px 0;
  }

  &--login,
  &--shop{
    margin-bottom: 120px;

    @include r($w1024) {
      margin-bottom: 50px;
    }

    @include r($w740) {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-weight: $rubik300;
    line-height: 1.5;
    font-size: 36px;

    @include r($w640) {
      font-size: 30px;
    }

    @include r($w420) {
      font-size: 24px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    font-size: 14px;
    opacity: 0.6;
    font-weight: $rubik400;
    
    &:not(:last-child) {
      margin-right: 20px;

      &::after {
        content: "/";
        position: absolute;
        right: -13px;
        opacity: 0.6;
      }
    }
  }
}