.header {
    padding: 45px 0;

    @include r($w1024) {
        padding: 8px 0;
        margin-bottom: 10px;
    }

    .menu {

        @include r($w1024) {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: lighten($orange500, 10%);
            transition: transform 0.3s;
            transform: translateY(-200%);

            &__item {
                margin-right: 0;
                width: 100%;
                text-align: center;

                &:not(:last-child) {
                    margin-bottom: 22px;
                }

                span {
                    display: none;
                }
            }

            &__link {
                display: block;
                font-size: 26px;
            }

            &--active {
                z-index: 1;
                transform: translateY(0);
            }
        }

        @include r($w639) {

            &__item {

                &:not(:last-child) {
                    margin-bottom: 18px;
                }

                span {
                    display: none;
                }
            }

        }
}
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include r($w639) {
                justify-content: space-around;
            }
        }
    

    .logo {
        display: block;
    }

    .logo__img {
        object-fit: cover;
    }

    .mobile__lines {
        width: 32px;
        height: 20px;
        fill: $blue600;
    }

    .mobile__btn {
        background-color: $orange500;
        transition: background-color 0.3s;
        display: none;
        z-index: 2;
        transition: transform 0.3s;

        &:hover {
            background-color: lighten($orange500, 4%);
        }

        &:focus {
            background-color: darken($orange500, 15%);
        }

        &:active {
            background-color: darken($orange500, 1%);
        }

        &--active {
            transform: rotatez(90deg);
        }

        @include r($w1024) {
            display: flex;
        }
    }

    .user-nav {
        display: flex;

        @include r($w639) {
            position: absolute;
            top: 70px;
            right: 0;
            left: 0;
            max-width: 300px;
            margin: 0 auto;
        }

        &__search {
            background-color: $blue300;


            &:hover {
                background-color: $white300;
            }

            &:focus {
                background-color: $blue400;
            }

            &:active {
                background-color: $white400;
            }
        }

        &__menu {
            background-color: $white300;

            &:hover {
                background-color: $blue400;
            }

            &:focus {
                background-color: $blue500;
            }

            &:active {
                background-color: $blue300;
            }
        }

        &__cart {
            position: relative;
            display: block;
            border-top-right-radius: 25px 50%;
            border-bottom-right-radius: 25px 50%;

            &::before {
                content: "";
                position: absolute;
                opacity: 0.4;
                background-color: $white;
                width: 1px;
                height: 32px;
                left: 0;
            }
        }

        &__like,
        &__cart {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        &__search,
        &__menu,
        &__like,
        &__cart {
            &:hover {

                .user-nav__lens,
                .user-nav__btn,
                .user-nav__heart,
                .user-nav__basket,
                .user-nav__quantity {
                    transform: scale(1.2);
                }
            }

            &:active {

                .user-nav__lens,
                .user-nav__btn,
                .user-nav__heart,
                .user-nav__basket,
                .user-nav__quantity {
                    transform: scale(1);
                }
            }
        }

        &__search,
        &__cart {
            margin-right: 20px;

            @include r($w639) {
                margin-right: 10px;
            }
        }

        &__like,
        &__cart {
            position: relative;
            height: 50px;
            width: 90px;
            background-color: $orange500;

            &:hover {
                background-color: $orange300;
            }

            &:focus {
                background-color: $blue400;
            }

            &:active {
                background-color: $blue300;
            }
        }

        &__like {
            border-top-left-radius: 25px 50%;
            border-bottom-left-radius: 25px 50%;
        }

        &__quantity {
            border-radius: 50%;
        }

        &__quantity {
            position: absolute;
            font-family: $DMsans;
            font-weight: $DMsans400;
            font-size: 10px;
            color: $blue600;
            background-color: $white;
            top: 8px;
            right: 25px;
            text-align: center;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__lens {
            width: 17px;
            height: 17px;
        }

        &__heart {
            width: 19px;
            height: 18px;
        }

        &__btn {
            width: 21px;
            height: 22px;
            fill: $white;
        }

        &__basket {
            width: 20px;
            height: 18px;
        }

        &__lens,
        &__heart,
        &__basket {
            fill: $blue600;
        }

        &__lens,
        &__heart,
        &__basket,
        &__quantity,
        &__btn {
            transition: transform 0.3s, fill 0.3s;
        }
    }
}