.product-card {
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    text-align: center;
    padding: 27px 42px 38px;
    transition: transform 0.3s;
    position: relative;

    &:hover {
        transform: translateY(-5px);

        @include r($w1024){
            transform: translateY(0);
        }

        .product-card__box {
            transform: translateY(0);

            @include r($w1024){
                transform: translateY(58px);
            }
        }
    }

    &__link {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__inner {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 50px;
        width: 186px;
        height: 195px;

        @include r($w1024) {
            overflow: visible;
        }
    }

    &__image {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    &__box {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 15px;
        display: flex;
        justify-content: center;
        transition: transform 0.3s;
        transform: translateY(200%);

        @include r($w640) {
            transform: translateY(58px);
        }

        @include r($w1024) {
            transform: translateY(58px);
        }
    }

    &__btn {
        background-color: $white;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 10px rgba(37, 37, 37, 0.1);

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:hover {
            background-color: $white300;

            .product-card__lens,
            .product-card__heart,
            .product-card__basket {
                fill: $white;
            }
        }

        &:focus {

            .product-card__lens,
            .product-card__heart,
            .product-card__basket {
                fill: $blue500;
            }
        }

        &:active {

            .product-card__lens,
            .product-card__heart,
            .product-card__basket {
                transform: scale(0.9);
            }
        }
    }

    &__lens {
        width: 17px;
        height: 17px;
    }

    &__heart {
        width: 19px;
        height: 18px;
    }

    &__basket {
        width: 20px;
        height: 18px;
    }

    &__lens,
    &__heart,
    &__basket {
        fill: $white300;
    }

    &__name {
        font-weight: $DMsans500;
        font-size: 16px;
        margin-bottom: 10px;
        color: $blue600;
        @include lines-1;
    }
}