<footer class="footer">
    <div class="container">
        <ul class="footer__top">

            <li class="footer__wrap">
                <address class="footer__contacts">
                    <a class="logo" href="#">
                        <img class="logo__img footer__logo" src="images/logo.png" alt="logotype">
                    </a>

                    <div class="footer__address">
                        <p>
                            ADDRESS: 4772 Wines Lane Houston, TX 77032
                        </p>
                    </div>

                    <div class="footer__phone">
                        <a href="tel:+8323475843">
                            Telephone: +832-347-5843
                        </a>
                    </div>

                    <div class="footer__email">
                        <a href="mailto:contact@Glee.com">
                            Email: contact@Glee.com
                        </a>
                    </div>
                </address>
            </li>

            <li class="footer__wrap">
                <ul class="footer__services">
                    <li class="footer__item">
                        <div class="footer__title">Services</div>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">About us</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">Return Policy</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">Our Blog</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">Contact Us</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">Terms & Condition</a>
                    </li>
                </ul>
            </li>
            
            <li class="footer__wrap">
                <ul class="footer__account">
                    <li class="footer__item">
                        <div class="footer__title">Account</div>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">Your Account</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">Checkout</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">Login</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">Register</a>
                    </li>
                </ul>
            </li>

            <li class="footer__wrap">
                <form class="form">
                    <div class="form__title">newsletter</div>

                    <div class="form__text">
                        <p>Subscribe by our newsletter and get update protidin.
                        </p>
                    </div>

                    <label class="visually-hidden" for="inputmail">String for entering email
                    </label>
                    <input class="form__input" type="email" name="email" placeholder="Email address" id="inputmail">

                    <button class="form__button" type="submit">Subscribe</button>
                </form>
            </li>
        </ul>

        <div class="footer__bottom">
            <div class="footer__copy">
                <p>©2020 CopyRight Example. All rights reserved.</p>
            </div>

            <ul class="footer__nav">
                <li class="footer__decor">
                    <a class="footer__nav-link" href="#">Home</a>
                </li>

                <li class="footer__decor">
                    <a class="footer__nav-link" href="#">About</a>
                </li>

                <li class="footer__decor">
                    <a class="footer__nav-link" href="#">Blog</a>
                </li>

                <li class="footer__decor">
                    <a class="footer__nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>