<header class="header">
    <h1 class="visually-hidden">Internet furniture store</h1>
    <div class="container container--large">
        <nav class="header__inner">
            <a class="logo" href="#">
                <img class="logo__img" src="images/logo.png" alt="logotype" style="width: 40px; height: 150px;">
            </a>

            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="#">Home
                        <span class="menu__add">+</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">About</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Services</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Pages
                        <span class="menu__add">+</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">News</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Contact</a>
                </li>
            </ul>

            <div class="user-nav">
                <button class="btn user-nav__search" type="button">
                    <svg class="user-nav__lens">
                        <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>

                    <span class="visually-hidden">Clicking will open a search box</span>
                </button>

                    <a class="user-nav__like" href="#">
                        <svg class="user-nav__heart">
                            <use xlink:href="images/sprite.svg#like-icon"></use>
                        </svg>

                        <span class="visually-hidden">Clicking to open a list of favorites</span>

                        <span class="user-nav__quantity">7</span>
                    </a>

                    <a class="user-nav__cart" href="#">
                        <svg class="user-nav__basket">
                            <use xlink:href="images/sprite.svg#basket-icon"></use>
                        </svg>

                        <span class="visually-hidden">When you click, a list of items added to the cart will open</span>

                        <span class="user-nav__quantity">14</span>
                    </a>

                <button class="btn user-nav__menu" type="button">
                    <svg class="user-nav__btn">
                        <use xlink:href="images/sprite.svg#menu-icon"></use>
                    </svg>

                    <span class="visually-hidden">Mobile menu</span>
                </button>
            </div>
        </nav>
    </div>
</header>