<section class="terms">
  <div class="container">
    <h2 class="terms__title">
      Types of Personal Information We Collect
    </h2>

    <ol class="terms__list">
      <li class="terms__item">
        <p>
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore
        </p>
      </li>

      <li class="terms__item">
        <p>
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </li>

      <li class="terms__item">
        <p>
          Consectetur adipisicing elit
        </p>
      </li>

      <li class="terms__item">
        <p>
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </li>

      <li class="terms__item">
        <p>
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore
        </p>
      </li>
    </ol>

    <h2 class="terms__title">
      How marketpmss.com Collects Personal Infonnation
    </h2>

    <div class="terms__text">
      <p>
        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore
      </p>
    </div>

    <h2 class="terms__title">
      How marketprosscom Uses Personal Information
    </h2>

    <div class="terms__text">
      <p>
        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
</section>