<section class="design"  data-ref="container-2">
  <div class="container">
    <h2 class="title">New Design</h2>

    <ul class="products-filter">
      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter="all">All</button>
      </li>

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".cat-a">Furnitures</button>
      </li>

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".cat-b">Chairs</button>
      </li>

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".cat-c">Lighting</button>
      </li>

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".cat-d">Decor</button>
      </li>
    </ul>

    <ul class="design__items">
      <li class="design__item mix cat-a">
        <article class="product-card design-card">
          <a class="product-card__link design-card__link" href="#"></a>
          <div class="design-card__wrap">
            <div class="product-card__inner design-card__inner">
              <h3 class="product-card__name design-card__name">Beat Flat Pendant Black</h3>

              <p class="product-card__price design-card__type">Classic</p>
            </div>
            <img class="product-card__image design-card__image" src="images/design/1.png" alt="products" width="347"
              height="110">
          </div>
        </article>
      </li>

      <li class="design__item mix cat-b">
        <article class="product-card design-card">
          <a class="product-card__link design-card__link" href="#"></a>
          <div class="design-card__wrap">
            <div class="product-card__inner design-card__inner">
              <h3 class="product-card__name design-card__name">Lampe Sur Pieds
                Bamboo</h3>

              <p class="product-card__price design-card__type">Classic</p>
            </div>
            <img class="product-card__image design-card__image" src="images/design/2.png" alt="products" width="313"
              height="108">
          </div>
        </article>
      </li>

      <li class="design__item mix cat-c">
        <article class="product-card design-card">
          <a class="product-card__link design-card__link" href="#"></a>
          <div class="design-card__wrap">
            <div class="product-card__inner design-card__inner">
              <h3 class="product-card__name design-card__name">Rattan Rocking Chair</h3>

              <p class="product-card__price design-card__type">Classic</p>
            </div>

            <img class="product-card__image design-card__image design-card__image--position" src="images/design/3.png"
              alt="products" width="112" height="143">

          </div>
        </article>
      </li>

      <li class="design__item mix cat-d">
        <article class="product-card design-card">
          <a class="product-card__link design-card__link" href="#"></a>
          <div class="design-card__wrap">
            <div class="product-card__inner design-card__inner">
              <h3 class="product-card__name design-card__name">Rattan Rocking Chair</h3>

              <p class="product-card__price design-card__type">Classic</p>
            </div>
            <img class="product-card__image design-card__image" src="images/design/4.png" alt="products" width="310"
              height="135">
          </div>
        </article>
      </li>

      <li class="design__item mix cat-a cat-b">
        <article class="product-card design-card">
          <a class="product-card__link design-card__link" href="#"></a>
          <div class="design-card__wrap">
            <div class="product-card__inner design-card__inner">
              <h3 class="product-card__name design-card__name">Rattan Rocking Chair</h3>

              <p class="product-card__price design-card__type">Classic</p>
            </div>
            <img class="product-card__image design-card__image design-card__image--position" src="images/design/5.png"
              alt="products" width="142" height="178">
          </div>
        </article>
      </li>

      <li class="design__item mix cat-a cat-c">
        <article class="product-card design-card">
          <a class="product-card__link design-card__link" href="#"></a>
          <div class="design-card__wrap">
            <div class="product-card__inner design-card__inner">
              <h3 class="product-card__name design-card__name">Lampe Sur Pieds Bamboo</h3>

              <p class="product-card__price design-card__type">Classic</p>
            </div>
            <img class="product-card__image design-card__image" src="images/design/6.png" alt="products" width="417"
              height="110">
          </div>
        </article>
      </li>
    </ul>
  </div>

  <div class="video" style="background-image: url(images/video-bg.jpg);">
    <a class="video__popup" href="https://youtu.be/azaohJAfzko" data-fancybox>
      <svg class="video__play">
        <use xlink:href="images/sprite.svg#video-play"></use>
      </svg>

      <svg class="video__circle-1">
        <use xlink:href="images/sprite.svg#video-sircle-1"></use>
      </svg>

      <svg class="video__circle-2">
        <use xlink:href="images/sprite.svg#video-sircle-2"></use>
      </svg>
    </a>
  </div>
</section>