<section class="insights">
  <div class="container">
    <div class="insights__articles">
      <div class="insights__top">
        <h2 class="title insights__title">Our Insights & Articles</h2>

        <a class="btn-square insights__btn" href="#">
          View All

          <svg class="insights__right">
            <use xlink:href="images/sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </div>

      <ul class="insights__content">
        <li class="insights__cards">
          <article class="insight-card">
            <a class="insight-card__link" href="#"></a>

            <img class="insight-card__img" src="images/insights/1.jpg" alt="Design example" width="370" height="250">

            <div class="insight-card__inner">
              <span class="insight-card__category">News</span>

              <h3 class="insight-card__title">
                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </h3>

              <div class="insight-card__bottom">
                <time class="insight-card__date">
                  28 january, 2020
                </time>

                <div class="insight-card__author">
                  by admin
                </div>
              </div>
            </div>
          </article>
        </li>

        <li class="insights__cards">
          <article class="insight-card">
            <a class="insight-card__link" href="#"></a>

            <img class="insight-card__img" src="images/insights/2.jpg" alt="Design example" width="370" height="250">

            <div class="insight-card__inner">
              <span class="insight-card__category">News</span>

              <h3 class="insight-card__title">
                Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              </h3>

              <div class="insight-card__bottom">
                <time class="insight-card__date">
                  28 january, 2020
                </time>

                <div class="insight-card__author">
                  by admin
                </div>
              </div>
            </div>
          </article>
        </li>

        <li class="insights__cards">
          <article class="insight-card">
            <a class="insight-card__link" href="#"></a>

            <img class="insight-card__img" src="images/insights/3.jpg" alt="Design example" width="370" height="250">

            <div class="insight-card__inner">
              <span class="insight-card__category">News</span>

              <h3 class="insight-card__title">
                Rncididunt ut labore et dolore magna aliqua. Ut enim
              </h3>

              <div class="insight-card__bottom">
                <time class="insight-card__date">
                  28 january, 2020
                </time>

                <div class="insight-card__author">
                  by admin
                </div>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="partners">
    <div class="container">
      <ul class="partners__box">
        <li class="partners__wrap">
          <a class="partners__link" href="#">
            <img class="partners__logo" src="images/partners/partner-1.png" alt="partner logo" width="82" height="90">
          </a>
        </li>

        <li class="partners__wrap">
          <a class="partners__link" href="#">
            <img class="partners__logo" src="images/partners/partner-2.png" alt="partner logo" width="151" height="90">
          </a>
        </li>

        <li class="partners__wrap">
          <a class="partners__link" href="#">
            <img class="partners__logo" src="images/partners/partner-3.png" alt="partner logo" width="150" height="90">
          </a>
        </li>

        <li class="partners__wrap">
          <a class="partners__link" href="#">
            <img class="partners__logo" src="images/partners/partner-4.png" alt="partner logo" width="167" height="90">
          </a>
        </li>

        <li class="partners__wrap">
          <a class="partners__link" href="#">
            <img class="partners__logo" src="images/partners/partner-5.png" alt="partner logo" width="87" height="90">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>