<section class="main-slider">
  <h2 class="visually-hidden">Trendy products</h2>
  <div class="container container--large">
    <ul class="main-slider__inner" style="background-image: url(images/slider/slider-bg.jpg);">
      <li class="main-slider__item">
        <div class="container">
          <div class="main-slider__content">
            <div class="main-slider__wrap">
              <div class="main-slider__name">smart and trendy</div>

              <div class="main-slider__text">
                <p>
                  Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                </p>
              </div>

              <a class="btn-square main-slider__link" href="#">Shop Now
                <svg class="main-slider__right">
                  <use xlink:href="images/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
            <div class="main-slider__images">
              <img class="main-slider__img" src="images/slider/sofa.png" alt="Sofa">
            </div>
          </div>
        </div>
      </li>

      <li class="main-slider__item">
        <div class="container">
          <div class="main-slider__content">
            <div class="main-slider__wrap">
              <div class="main-slider__name">smart and trendy</div>

              <div class="main-slider__text">
                <p>
                  Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                </p>
              </div>

              <a class="btn-square main-slider__link" href="#">Shop Now
                <svg class="main-slider__right">
                  <use xlink:href="images/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
            <div class="main-slider__images">
              <img class="main-slider__img" src="images/slider/sofa.png" alt="Sofa">
            </div>
          </div>
        </div>
      </li>

      <li class="main-slider__item">
        <div class="container">
          <div class="main-slider__content">
            <div class="main-slider__wrap">
              <div class="main-slider__name">smart and trendy</div>

              <div class="main-slider__text">
                <p>
                  Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                </p>
              </div>

              <a class="btn-square main-slider__link" href="#">Shop Now
                <svg class="main-slider__right">
                  <use xlink:href="images/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
            <div class="main-slider__images">
              <img class="main-slider__img" src="images/slider/sofa.png" alt="Sofa">
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>

  <div class="services">
    <div class="container container--large">
      <ul class="services__info">
        <li class="services__item">
          <div class="services__descr services__support">
            <h3 class="services__title">
              Support 24/7.
            </h3>

            <div class="services__text">
              <p>Contact us 24 hours a day, 7 days a week.</p>
            </div>
          </div>
        </li>

        <li class="services__item">
          <div class="services__descr services__delivery">
            <h3 class="services__title">
              Delivery.
            </h3>

            <div class="services__text">
              <p>Free shipping on all US order.</p>
            </div>
          </div>
        </li>

        <li class="services__item">
          <div class="services__descr services__payment">
            <div class="services__title">
              100% Payment secure.
            </div>

            <div class="services__text">
              <p>We ensure secure payment with PEV.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</section>