<section class="products-week">
  <div class="container">
    <h2 class="title">Products of the week</h2>

    <ul class="products-filter">
      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter="all">All</button>
      </li>

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".category-a">Furnitures</button>
      </li>

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".category-b">Chairs</button>
      </li>

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".category-c">Lighting</button>
      </li>

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".category-d">Decor</button>
      </li>
    </ul>

    <ul class="products-week__items">
      <li class="products-week__item mix category-a">
        <article class="product-card">
          <a class="product-card__link" href="#"></a>
            <div class="product-card__inner">
              <img class="product-card__image" src="images/products/1.png" alt="products">

              <div class="product-card__box">
                <a class="btn-circle product-card__btn" href="#">
                  <svg class="product-card__lens">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                </a>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__basket">
                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                  </svg>
                </button>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__heart">
                    <use xlink:href="images/sprite.svg#like-icon"></use>
                  </svg>
                </button>
              </div>
            </div>

            <h3 class="product-card__name">Wooden radio</h3>

            <p class="product-card__price">
              <span>$</span>29.00
            </p>
        </article>
      </li>

      <li class="products-week__item mix category-b">
        <article class="product-card">
          <a class="product-card__link" href="#"></a>
            <div class="product-card__inner">
              <img class="product-card__image" src="images/products/2.png" alt="products">

              <div class="product-card__box">
                <a class="btn-circle product-card__btn" href="#">
                  <svg class="product-card__lens">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                </a>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__basket">
                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                  </svg>
                </button>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__heart">
                    <use xlink:href="images/sprite.svg#like-icon"></use>
                  </svg>
                </button>
              </div>
            </div>

            <h3 class="product-card__name">Wooden chair</h3>

            <p class="product-card__price">
              <span>$</span>29.00
            </p>
        </article>
      </li>

      <li class="products-week__item mix category-b">
        <article class="product-card">
          <a class="product-card__link" href="#"></a>
            <div class="product-card__inner">
              <img class="product-card__image" src="images/products/3.png" alt="products">

              <div class="product-card__box">
                <a class="btn-circle product-card__btn" href="#">
                  <svg class="product-card__lens">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                </a>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__basket">
                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                  </svg>
                </button>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__heart">
                    <use xlink:href="images/sprite.svg#like-icon"></use>
                  </svg>
                </button>
              </div>
            </div>

            <h3 class="product-card__name">Wooden chair</h3>

            <p class="product-card__price">
              <span>$</span>29.00
            </p>
        </article>
      </li>

      <li class="products-week__item mix category-a category-d">
        <article class="product-card">
          <a class="product-card__link" href="#"></a>
            <div class="product-card__inner">
              <img class="product-card__image" src="images/products/4.png" alt="products">

              <div class="product-card__box">
                <a class="btn-circle product-card__btn" href="#">
                  <svg class="product-card__lens">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                </a>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__basket">
                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                  </svg>
                </button>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__heart">
                    <use xlink:href="images/sprite.svg#like-icon"></use>
                  </svg>
                </button>
              </div>
            </div>

            <h3 class="product-card__name">Retro table</h3>

            <p class="product-card__price">
              <span>$</span>29.00
            </p>
        </article>
      </li>

      <li class="products-week__item mix category-a category-c">
        <article class="product-card">
          <a class="product-card__link" href="#"></a>
            <div class="product-card__inner">
              <img class="product-card__image" src="images/products/5.png" alt="products">

              <div class="product-card__box">
                <a class="btn-circle product-card__btn" href="#">
                  <svg class="product-card__lens">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                </a>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__basket">
                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                  </svg>
                </button>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__heart">
                    <use xlink:href="images/sprite.svg#like-icon"></use>
                  </svg>
                </button>
              </div>
            </div>

            <h3 class="product-card__name">Wooden radio</h3>

            <p class="product-card__price">
              <span>$</span>29.00
            </p>
        </article>
      </li>

      <li class="products-week__item mix category-d">
        <article class="product-card">
          <a class="product-card__link" href="#"></a>
            <div class="product-card__inner">
              <img class="product-card__image" src="images/products/6.png" alt="products">

              <div class="product-card__box">
                <a class="btn-circle product-card__btn" href="#">
                  <svg class="product-card__lens">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                </a>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__basket">
                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                  </svg>
                </button>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__heart">
                    <use xlink:href="images/sprite.svg#like-icon"></use>
                  </svg>
                </button>
              </div>
            </div>

            <h3 class="product-card__name">Wooden chair</h3>

            <p class="product-card__price">
              <span>$</span>29.00
            </p>
        </article>
      </li>

      <li class="products-week__item mix category-d">
        <article class="product-card">
          <a class="product-card__link" href="#"></a>
            <div class="product-card__inner">
              <img class="product-card__image" src="images/products/7.png" alt="products">

              <div class="product-card__box">
                <a class="btn-circle product-card__btn" href="#">
                  <svg class="product-card__lens">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                </a>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__basket">
                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                  </svg>
                </button>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__heart">
                    <use xlink:href="images/sprite.svg#like-icon"></use>
                  </svg>
                </button>
              </div>
            </div>

            <h3 class="product-card__name">White chair</h3>

            <p class="product-card__price">
              <span>$</span>29.00
            </p>
        </article>
      </li>

      <li class="products-week__item mix category-b">
        <article class="product-card">
          <a class="product-card__link" href="#"></a>
            <div class="product-card__inner">
              <img class="product-card__image" src="images/products/8.png" alt="products">

              <div class="product-card__box">
                <a class="btn-circle product-card__btn" href="#">
                  <svg class="product-card__lens">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                </a>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__basket">
                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                  </svg>
                </button>

                <button class="btn-circle product-card__btn" type="button">
                  <svg class="product-card__heart">
                    <use xlink:href="images/sprite.svg#like-icon"></use>
                  </svg>
                </button>
              </div>
            </div>

            <h3 class="product-card__name">Retro table</h3>

            <p class="product-card__price">
              <span>$</span>29.00
            </p>
        </article>
      </li>

    </ul>
  </div>
</section>