.shop {
  margin-bottom: 120px;

  &__inner {
    display: flex;
  }

  &__filters {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
    font-family: $rubik;
    font-weight: $rubik400;
    color: $blue600;
  }

  &__content {
    width: 100%;
  }

  &__sort {
    font-weight: $DMsans400;
    color: $blue600;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid $blue300;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  &__view {
    margin-right: 25px;
  }

  &__grid,
  &__list {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__grid {
    margin-right: 10px;
  }

  &__btn-grid,
  &__btn-list {
    width: 20px;
    height: 20px;
    fill: $white300;
    transition: fill 0.3s;

    &--active {
      fill: $orange500;
    }
  }

  &__items {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 30px;
    margin-bottom: 100px;

    &--list {
      display: block;
    }

    .product-card__stars,
    .product-card__descr,
    .btn-list {
      display: none;
    }

    &.shop__items--list {

      &+.pagination {
        justify-content: left;
      }

      .products-week__item {
        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }

      .product-card {
        display: flex;
        box-shadow: none;
        padding: 0;

        &:hover {
          transform: translateY(0);
        }

        &__inner {
          width: 370px;
          height: 500px;
          padding: 25px;
          margin-right: 55px;
          margin-bottom: 0;
          background-color: $white200;
          border: 2px solid $white250;
        }

        &__box {
          display: none;
        }

        &__name,
        &__price,
        &__descr {
          font-family: $rubik;
          font-weight: $rubik400;
          font-size: 40px;
          color: $white660;
          margin-bottom: 25px;
          text-align: left;
        }

        &__info {
          display: flex;
          justify-content: center;
          flex-direction: column;
          max-width: 415px;
          position: relative;
          z-index: 2;
        }

        &__stars {
          display: block;
          margin-bottom: 40px;
        }

        &__price {
          font-size: 30px;
          margin-bottom: 35px;
          text-align: start;
        }

        &__descr {
          display: block;
          text-align: left;
          font-size: 16px;
          color: $blue600;
          margin-bottom: 35px;
          @include lines-5;
        }

        &__square-btns {
          display: flex;
        }

        &__basket,
        &__heart {
          width: 25px;
          height: 25px;
        }

        &__link {
          z-index: 1;
        }

        .btn-list {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  .filter-brand {

    &__number {
      color: $white290;
    }
  }

  .filter-category,
  .filter-brand {

    &__label {
      width: 100%;
      cursor: pointer;
    }

    &__right {
      width: 15px;
      height: 10px;
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      border-radius: 10px;
      transition: background-color 0.3s;
    }

    &__input {

      &:checked+.filter-brand__wrap,
      &:checked+.filter-category__wrap {
        background-color: $blue300;

        &>.filter-brand__number {
          color: $blue600;
        }
      }
    }
  }

  .filter-price {

    &__pricing {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
    }
  }

  .filters-title {
    position: relative;
    margin-bottom: 26px;
    font-family: $DMsans;
    font-weight: $DMsans700;
    font-size: 18px;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/sprite.svg#dash);
      width: 38px;
      height: 2px;
      top: 10px;
      margin-left: 20px;
      background-color: $white300;
    }
  }

  .recent-card {
    display: flex;
    width: 100%;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &__link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &__box {
      width: 70px;
      height: 70px;
      overflow: hidden;
      border: 2px solid $white290;
      background-color: $white250;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
    }

    &__img {
      width: 95%;
      height: 95%;
      object-fit: contain;
    }

    &__heading,
    &__price {
      display: block;
      color: $white660;
      max-width: 180px;
    }

    &__heading {
      font-size: 14px;
      margin-bottom: 12px;
    }

    &__price {
      font-size: 15px;
    }

    &__stars {
      margin-bottom: 10px;
    }
  }

  .filter {
    margin-bottom: 70px;
  }

  .irs--flat .irs-line {
    top: 5px;
    height: 3px;
    background-color: $white300;
    opacity: 0.6;
  }

  .irs--flat .irs-bar {
    top: 5px;
    height: 4px;
    background-color: $white300;
  }

  .irs--flat .irs-handle {
    top: 0;
    width: 15px;
    height: 15px;
    background-color: $white300;
  }

  .irs--flat {
    height: 15px;
    margin-bottom: 20px;
  }

  .irs--flat .irs-handle>i:first-child,
  .irs--flat .irs-min,
  .irs--flat .irs-max,
  .irs--flat .irs-from,
  .irs--flat .irs-to,
  .irs--flat .irs-single {
    display: none;
  }

  .jq-ry-container {
    padding: 0;
  }

}