.insights {
  margin-bottom: 75px;

  @include r($w1024) {
    margin-bottom: 40px;
  }

  @include r($w740) {
    margin-bottom: 25px;
  }

  &__top {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 45px;

    @include r($w740) {
      margin-bottom: 15px;
    }
  }

  &__content {
    justify-content: space-between;

    @include r($w1400) {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @include r($w1024) {
      justify-content: space-between;
    }

    @include r($w740) {
      justify-content: center;
    }
  }

  &__top,
  &__content {
    display: flex;
  }

  &__title {
    margin: 0;
  }

  &__btn {
    font-size: 16px;
    color: $white700;
    padding: 5px;
    background-color: transparent;
    max-width: 90px;
    width: 100%;
    transition: border 0.3s, color 0.3s;
    border: 1px solid transparent;

    &:hover {
      color: $blue500;
      border: 1px solid $blue500;

      .insights__right {
        fill: $blue500;
      }
    }

    &:focus {
      color: $blue400;
      border: 1px solid $blue400;

      .insights__right {
        fill: $blue400;
      }
    }

    &:active {
      color: $orange500;
      border: 1px solid $orange500;

      .insights__right {
        fill: $orange500;
      }
    }
  }

  &__right {
    width: 7px;
    height: 12px;
    fill: $white700;
    transition: fill 0.3s;
  }
}

.partners {
  position: relative;
  margin-top: -181px;
  background-color: $orange500o2;
  padding: 260px 0 90px;

  @include r($w1024) {
    padding: 200px 0 35px;
  }

  &__logo {
    object-fit: contain;
    margin: 0 auto;
    transition: background-color 0.3s;

    &:hover {
      background-color: $orange200;
    }

    &:focus {
      background-color: $orange300;
    }

    &:active {
      background-color: $orange500;
    }
  }
}