.main-slider {
  margin-bottom: 70px;

  @include r($w1024) {
    margin-bottom: 15px;
  }

  &__inner {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: $rubik;
    font-weight: $rubik500;
  }

  &__item {

    @include r($w420) {
      padding-bottom: 45px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include r($w420) {
      display: block;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 210px 0;

    @include r($w1024) {
      padding: 100px 0;
    }

    @include r($w640) {
      padding: 40px 0;
    }

    @include r($w420) {
      padding: 15px 0;
    }
  }

  &__images {
    max-width: 640px;
    height: 320px;

    @include r($w420) {
      height: 180px;
    }
  }

  &__img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &__name {
    font-size: 72px;
    line-height: 1;
    color: $blue600;
    max-width: 470px;
    text-transform: uppercase;
    @include lines-3;

    @include r($w1024) {
      font-size: 56px;
    }

    @include r($w740) {
      font-size: 38px;
    }

    @include r($w640) {
      font-size: 30px;
    }

    @include r($w420) {
      margin-bottom: 10px;
      text-align: center;
    }
  }

  &__text {
    font-weight: $rubik400;
    font-size: 18px;
    color: $blue400;
    max-width: 370px;
    line-height: 1.7;
    @include lines-5;

    @include r($w640) {
      font-size: 16px;
    }
  }

  &__name,
  &__text {
    margin-bottom: 40px;

    @include r($w420) {
      margin-bottom: 0px;
    }
  }

  &__link {

    @include r($w420) {
      display: none;
    }
  }

  &__link--mobile {
    display: none;

    @include r($w420) {
      position: relative;
      display: block;
      margin: 0 auto;
    }
  }

  &__link,
  &__link--mobile {

    &:hover {
      background-color: $blue400;
    }

    &:focus {
      background-color: $blue500;
    }

    &:active {
      background-color: $blue300;
    }
  }

  &__right {
    width: 24px;
    height: 10px;
    fill: $white;

    @include r($w420) {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 45px;
    width: 100%;

    @include r($w640) {
      bottom: 8px;
    }

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    button {
      border: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $orange300;
      font-family: $rubik;
      font-size: 12px;
      cursor: pointer;
      transition: transform 0.3s, background-color 0.3s;

      &:hover {
        transform: scale(1.2);
      }

      &:focus {
        background-color: $white;
      }

      &:active {
        transform: scale(1);
      }

    }
  }

  .slick-active button {
    background-color: $white;
  }
}

.services {
  &__info {
    display: flex;
    align-items: baseline;
    background-color: #fef7f0;

    @include r($w420) {
      display: block;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    max-width: 590px;
    width: 100%;
    padding: 45px 0;
    align-items: center;

    &:not(:last-child) {
      border-right: 1px solid #e8e4df;

      @include r($w420) {
        border: none;
      }
    }

    @include r($w1024) {
      padding: 22px 0;
    }

    @include r($w420) {
      display: block;
      padding: 10px 0;
    }
  }

  &__descr {
    padding-left: 50px;
    position: relative;
    max-width: 275px;
    min-height: 84px;

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      left: -30px;
      top: 7px;

      @include r($w1024) {
        display: none;
      }
    }

    @include r($w1024) {
      padding: 0 10px;
    }

    @include r($w420) {
      min-height: 0;
    }
  }

  &__support {
    max-width: 255px;

    &::before {
      background-image: url(../images/sprite.svg#time);
    }
  }

  &__delivery {
    &::before {
      background-image: url(../images/sprite.svg#delivery-truck);
      width: 55px;
      height: 35px;
      left: -35px;
    }
  }

  &__payment {
    &::before {
      background-image: url(../images/sprite.svg#credit-card);
    }
  }

  &__title {
    font-size: 18px;
    color: $white600;
    margin-bottom: 5px;
  }

  &__text {
    font-weight: $DMsans400;
    color: $white500;
    line-height: 1.8;

    p {
      overflow: hidden;
      @include lines-3;
    }
  }
}