.products-week {

    padding-bottom: 100px;

    @include r($w740) {
        padding-bottom: 25px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px 40px;
        margin-bottom: 190px;

        @include r($w1400) {
            grid-template-columns: repeat(3, 270px);
            justify-content: center;
        }

        @include r($w1024) {
            grid-template-columns: repeat(2, 270px);
            justify-content: center;
        }

        @include r($w740) {
            margin-bottom: 25px;
        }

        @include r($w640) {
            grid-template-columns: repeat(1, 270px);
            grid-gap: 10px 40px;
            justify-content: center;
        }
    }

    .products-filter {
        @include r($w1024) {
            margin-bottom: 25px;
        }
    }

    .mixitup-control-active {
        color: $white700;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__adds {
        display: flex;

        @include r($w1400) {
            flex-wrap: wrap;
            justify-content: center;
        }

    }

    &__product {
        max-width: 870px;
        background-color: $orange200;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: $blue600;
        padding: 50px 50px 50px 400px;

        &:not(:last-child) {
            margin-right: 30px;

            @include r($w1400) {
                margin-right: 0;
                margin-bottom: 140px;
            }

            @include r($w740) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }

        @include r($w740) {
            padding: 50px;
        }

        @include r($w420) {
            padding: 15px 5px;
        }
    }

    &__inner {
        max-width: 350px;
        position: relative;
    }

    &__image {
        content: '';
        position: absolute;
        left: -270px;
        top: -180px;
        object-fit: cover;

        @include r($w740) {
            position: relative;
            top: 0;
            left: 0;
            margin: 0 auto 15px;
        }
    }

    &__name {
        font-size: 26px;
        margin-bottom: 25px;
        @include lines-2;
    }

    &__descr,
    &__btn {
        font-family: $rubik;
    }

    &__descr {
        font-weight: $rubik400;
        margin-bottom: 35px;
        @include lines-5;
    }

    &__btn {
        position: relative;
        font-weight: $rubik500;
        color: $blue400;
        background-color: $orange200;
        border: 1px solid $blue400;
        border-radius: 5px;
        padding: 22px 18px;
        max-width: 180px;
        width: 100%;
        transition: background-color 0.3s;

        svg {
            fill: $blue400;
        }

        &:hover {
            background-color: $orange500;
        }

        &:focus {
            background-color: $orange300;
        }

        &:active {
            background-color: $blue300;
        }
    }
}